name: CI

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  push:
    branches: [ github-workflows ]
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Get Node version
      id: nvm
      run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ steps.nvm.outputs.NODE_VERSION }}
    - name: Install Dependencies
      run: npm install
    - name: Build
      run: npm run build 
    - name: Create temp Directory
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        script: mkdir -p ~/frontends/ide.codingblocks.com/temp
    - name: Upload Build
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        source: "dist"
        target: "~/frontends/ide.codingblocks.com"
    - name: Replace New Build
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        script: ln -sfn ~/frontends/ide.codingblocks.com/dist ~/frontends/ide.codingblocks.com/current && rm -rf ~/frontends/ide.codingblocks.com/live/* && cp -rf ~/frontends/ide.codingblocks.com/dist/* ~/frontends/ide.codingblocks.com/live/ && ln -sfn ~/frontends/ide.codingblocks.com/live ~/frontends/ide.codingblocks.com/current && rm -rf ~/frontends/ide.codingblocks.com/dist
